body {
  margin: 0 0 50px 0;
  background-color: rgb(239, 240, 240);
  background-image: url("../assets/patern.svg");
}

.navbar {
  background-color: #17a2b8 !important;
  text-align: center !important;
}
.navbar-brand {
  width: 100% !important;
  font-family: "Saira Extra Condensed" !important;
  font-size: 2rem !important;
  color: white !important;
}

.search-bar {
  margin: 30px 0;
}

.shows-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shows-wrapper .card {
  width: 24%;
  margin: 0.5%;
}
@media (max-width: 1200px) {
  .shows-wrapper .card {
    width: 32%;
  }
}
@media (max-width: 800px) {
  .shows-wrapper .card {
    width: 48%;
  }
}
@media (max-width: 450px) {
  .shows-wrapper .card {
    width: 100%;
  }
}
.shows-wrapper::after {
  content: "";
  flex: auto;
}

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: 90%;
  background: white;
  z-index: 9999;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.close-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  z-index: 101;
  cursor: pointer;
}

.show-preview .card {
  overflow-y: auto;
  height: 100%;
}

.card-preview-bg {
  width: 100%;
  height: 45%;
  background-position: center;
  background-size: cover;
}

.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

@keyframes show {
  from {
    transform: translate(-50%, 0) scale(0);
  }
  to {
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes cardFade {
  from {
    opacity: 0;
    transform: translateX((50px));
  }
  to {
    opacity: 1;
    transform: translateX((0px));
  }
}
